.clearfix {
    clear: both
}

.fusion-clearfix {
    zoom: 1;
    clear: both
}

.fusion-clearfix:after,
.fusion-clearfix:before {
    content: " ";
    display: table
}

.fusion-clearfix:after {
    clear: both
}

.aligncenter,
.fusion-aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

.fusion-columns {
    margin: 0 -15px
}

.fusion-columns-3 .fusion-column:nth-of-type(3n+1),
.fusion-columns-3 .fusion-flip-box-wrapper:nth-of-type(3n+1) {
    clear: both
}

.fusion-builder-row {
    width: 100%;
    margin: 0 auto
}

.fusion-builder-row:after {
    clear: both;
    content: " ";
    display: table
}

.fusion-fullwidth {
    position: relative
}

.fusion-fullwidth .fusion-row {
    position: relative;
    z-index: 10
}

.fusion-column-first {
    clear: left
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width: 0px) {

    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }

    .col-sm-4 {
        width: 33.33333333%
    }
}

@media (min-width: 992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-4 {
        width: 33.33333333%
    }
}

@media (min-width: 1200px) {

    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }

    .col-lg-4 {
        width: 33.33333333%
    }
}

table {
    max-width: 100%;
    background-color: transparent
}

.fusion-button.button-flat {
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.fusion-button-wrapper {
    display: inline
}

.fusion-button-wrapper.fusion-aligncenter {
    display: block;
    text-align: center
}

.bbp-submit-wrapper .button,
.fusion-button,
.gform_wrapper .button,
.gform_wrapper .gform_button,
.post-password-form input[type=submit],
.tml-submit-wrap input[type=submit],
.tribe-events-tickets .button,
.woocommerce .cart-collaterals .checkout-button,
.woocommerce .checkout #place_order,
.woocommerce.add_to_cart_inline .button,
.wpcf7-submit {
    display: inline-block;
    position: relative;
    outline: 0;
    zoom: 1;
    border: 1px solid transparent;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.bbp-submit-wrapper .button:after,
.bbp-submit-wrapper .button:before,
.fusion-button:after,
.fusion-button:before,
.gform_wrapper .button:after,
.gform_wrapper .button:before,
.gform_wrapper .gform_button:after,
.gform_wrapper .gform_button:before,
.post-password-form input[type=submit]:after,
.post-password-form input[type=submit]:before,
.tml-submit-wrap input[type=submit]:after,
.tml-submit-wrap input[type=submit]:before,
.tribe-events-tickets .button:after,
.tribe-events-tickets .button:before,
.woocommerce .cart-collaterals .checkout-button:after,
.woocommerce .cart-collaterals .checkout-button:before,
.woocommerce .checkout #place_order:after,
.woocommerce .checkout #place_order:before,
.woocommerce.add_to_cart_inline .button:after,
.woocommerce.add_to_cart_inline .button:before,
.wpcf7-submit:after,
.wpcf7-submit:before {
    content: " ";
    display: table
}

.bbp-submit-wrapper .button:after,
.fusion-button:after,
.gform_wrapper .button:after,
.gform_wrapper .gform_button:after,
.post-password-form input[type=submit]:after,
.tml-submit-wrap input[type=submit]:after,
.tribe-events-tickets .button:after,
.woocommerce .cart-collaterals .checkout-button:after,
.woocommerce .checkout #place_order:after,
.woocommerce.add_to_cart_inline .button:after,
.wpcf7-submit:after {
    clear: both
}

.fusion-button i,
.fusion-button-icon-divider,
.fusion-button-text {
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.button-pill,
.fusion-body .fusion-button-pill,
.fusion-button-pill {
    -webkit-border-radius: 25px !important;
    border-radius: 25px !important
}

.button-xlarge,
.fusion-body .fusion-button-xlarge,
.wpcf7-form .wpcf7-submit.button-xlarge,
.wpcf7-form .wpcf7-submit.fusion-button-xlarge {
    padding: 17px 40px;
    line-height: 21px;
    font-size: 18px
}

.fusion-imageframe {
    display: inline-block;
    z-index: 1;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    max-width: 100%
}

.fusion-imageframe img {
    vertical-align: top;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.imageframe-align-center {
    text-align: center
}

.fusion-layout-column {
    position: relative;
    float: left;
    margin-bottom: 20px
}

.fusion-layout-column.fusion-one-full {
    float: none;
    clear: both
}

.fusion-layout-column .fusion-column-wrapper {
    min-height: 1px
}

.fusion-layout-column.fusion-one-third {
    width: 33.3333%
}

.fusion-layout-column.fusion-one-half {
    width: 50%
}

.fusion-layout-column.fusion-column-last {
    margin-left: 0;
    margin-right: 0
}

.fusion-sep-clear {
    clear: both;
    display: block;
    height: 1px;
    font-size: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden
}

.fusion-separator {
    border: 0 solid #e7e6e6;
    clear: both;
    position: relative;
    z-index: 11
}

.fusion-body .fusion-separator.sep-none {
    height: 1px;
    border-color: transparent
}

.fusion-social-links-footer {
    display: table-cell;
    vertical-align: middle;
    width: 40%;
    text-align: right
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.comment-respond .fusion-title .comment-reply-title,
.fusion-title h1:not(.fusion-default-margin),
.fusion-title h2:not(.fusion-default-margin),
.fusion-title h3:not(.fusion-default-margin),
.fusion-title h4:not(.fusion-default-margin),
.fusion-title h5:not(.fusion-default-margin),
.fusion-title h6:not(.fusion-default-margin) {
    margin: 0
}

.comment-respond .fusion-title .comment-reply-title,
.fusion-title h1,
.fusion-title h2,
.fusion-title h3,
.fusion-title h4,
.fusion-title h5,
.fusion-title h6 {
    -ms-flex-grow: 0;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    padding: 0 8px 0 0;
    line-height: normal
}

.fusion-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 31px;
    overflow: hidden
}


.fusion-title.fusion-title-center {
    text-align: center
}

.fusion-title.fusion-title-center .title-heading-center {
    padding: 0 45px
}

.fusion-title.fusion-title-center.fusion-sep-none .title-heading-center,
.fusion-title.fusion-title-center.sep-underline .title-heading-center {
    padding: 0;
    text-align: center
}

.fusion-title.fusion-sep-none {
    display: block
}

.fusion-border-below-title {
    display: block
}

#main .post-content .fusion-border-below-title h1,
#main .post-content .fusion-border-below-title h2,
#main .post-content .fusion-border-below-title h3,
#main .post-content .fusion-border-below-title h4,
#main .post-content .fusion-border-below-title h5,
#main .post-content .fusion-border-below-title h6 {
    padding-left: 0;
    padding-right: 0
}

* {
    box-sizing: border-box
}

.fusion-clearfix {
    clear: both;
    zoom: 1
}

.fusion-clearfix:after,
.fusion-clearfix:before {
    content: " ";
    display: table
}

.fusion-clearfix:after {
    clear: both
}

html {
    overflow-y: scroll
}

input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=submit],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0
}

body {
    margin: 0;
    color: #747474;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    font: 13px/20px PTSansRegular, Arial, Helvetica, sans-serif
}

html {
    overflow-x: hidden
}

#wrapper {
    overflow: visible
}

img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #a0ce4e;
    text-decoration: none
}

input,
select,
textarea {
    font: 100% Arial, Helvetica, sans-serif;
    vertical-align: middle;
    color: #000
}

fieldset,
form {
    margin: 0;
    padding: 0;
    border-style: none
}

#content:after,
.clearfix:after {
    content: "";
    display: table;
    clear: both
}

#wrapper .product-category a h2.woocommerce-loop-category__title,
.fusion-main-menu>ul>li>a .fusion-menu-description,
a,
a:after,
a:before {
    transition-property: color, background-color, border-color;
    transition-duration: .2s;
    transition-timing-function: linear
}

#main {
    padding: 55px 10px 45px;
    background: #fff;
    clear: both
}

h2 {
    color: #333;
    margin: 0 0 20px
}

#content {
    width: 71.1702128%;
    float: left;
    min-height: 1px
}

#content.full-width {
    width: 100%
}

#tribe-bar-form input[type=text],
.input-text,
.tribe-bar-disabled #tribe-bar-form .tribe-bar-filters input[type=text],
input[type=email],
input[type=password],
input[type=text] {
    border: 1px solid #d2d2d2;
    font-size: 13px;
    color: #747474;
    padding: 8px 15px;
    margin-right: 1%;
    width: 100%;
    box-sizing: border-box
}

.fusion-post-content p,
.post-content p {
    margin: 0 0 20px
}

#toTop {
    background-color: #333;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    color: #fff;
    display: none;
    height: 35px;
    position: fixed;
    right: 75px;
    text-align: center;
    text-transform: uppercase;
    width: 48px;
    opacity: .9;
    z-index: 100000;
    transition: all .2s ease-in-out 0s
}

#sliders-container {
    position: relative
}

.fusion-animated {
    position: relative;
    z-index: 2000
}

.layout-wide-mode #wrapper {
    width: 100%;
    max-width: none
}

.fusion-row {
    margin: 0 auto;
    zoom: 1
}

.fusion-row:after,
.fusion-row:before {
    content: " ";
    display: table
}

.fusion-row:after {
    clear: both
}

.fusion-aligncenter {
    display: block;
    clear: both;
    margin: 0 auto;
    text-align: center
}

.fusion-columns {
    margin: 0 -15px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
    display: block
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important
}

.post-content p {
    margin-top: 0;
    margin-bottom: 20px
}

.rich-snippet-hidden {
    display: none
}

.fusion-header-wrapper {
    position: relative;
    z-index: 10010
}

.fusion-header-sticky-height {
    display: none
}

.fusion-header {
    padding-left: 30px;
    padding-right: 30px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: background-color .25s ease-in-out
}

.fusion-header-v1 .fusion-header,
.fusion-header-v2 .fusion-header,
.fusion-header-v3 .fusion-header,
.fusion-header-v4 .fusion-header,
.fusion-header-v5 .fusion-header,
.fusion-header-v7 .fusion-header {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: none
}

.fusion-logo {
    display: block;
    float: left;
    max-width: 100%;
    zoom: 1
}

.fusion-logo:after,
.fusion-logo:before {
    content: " ";
    display: table
}

.fusion-logo:after {
    clear: both
}

.fusion-logo a {
    display: block;
    max-width: 100%
}

.fusion-logo img {
    width: auto
}

.fusion-main-menu {
    float: right;
    position: relative;
    z-index: 200;
    overflow: hidden
}

#side-header .fusion-main-menu:hover,
.fusion-header-v1 .fusion-main-menu:hover,
.fusion-header-v2 .fusion-main-menu:hover,
.fusion-header-v3 .fusion-main-menu:hover,
.fusion-header-v4 .fusion-main-menu:hover,
.fusion-header-v5 .fusion-main-menu:hover,
.fusion-header-v7 .fusion-main-menu:hover {
    overflow: visible
}

.fusion-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.fusion-main-menu ul a {
    display: block;
    box-sizing: content-box
}

.fusion-main-menu li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer
}

.fusion-mobile-menu-design-modern .fusion-header>.fusion-row {
    position: relative
}

.fusion-footer-widget-area {
    overflow: hidden;
    position: relative;
    padding: 43px 10px 40px;
    border-top: 12px solid #e9eaee;
    background: #363839;
    color: #8c8989;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.fusion-footer-widget-area .widget-title,
.fusion-footer-widget-area h3 {
    color: #ddd;
    font: 13px/20px PTSansBold, arial, helvetica, sans-serif
}

.fusion-footer-widget-area .widget-title {
    margin: 0 0 28px;
    text-transform: uppercase
}

.fusion-footer-widget-area a {
    color: #bfbfbf
}

.fusion-footer-widget-column {
    margin-bottom: 50px
}

.fusion-footer-widget-column:last-child {
    margin-bottom: 0
}

.fusion-footer-copyright-area {
    z-index: 10;
    position: relative;
    padding: 18px 10px 12px;
    border-top: 1px solid #4b4c4d;
    background: #282a2b
}

.fusion-copyright-content {
    display: table;
    width: 100%
}

.fusion-copyright-notice {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    color: #8c8989;
    font-size: 12px
}

.fusion-ubermenu {
    overflow: visible;
    position: static
}

.ubermenu-main {
    margin-top: 25px;
}

.ubermenu-main .ubermenu-item-level-0>.ubermenu-target {
    font-size: 16px;
    color: #838586;
}

.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-item>.ubermenu-target,
.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-parent>.ubermenu-target,
.ubermenu-main .ubermenu-item-level-0.ubermenu-current-menu-ancestor>.ubermenu-target {
    color: #9b4b9d;
}

.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop {
    background-color: #ffffff;
}

.ubermenu-main .ubermenu-item-level-0>.ubermenu-submenu-drop {
    box-shadow: none;
}

.ubermenu-main .ubermenu-item-normal>.ubermenu-target {
    font-size: 16px;
}

.ubermenu-main,
.ubermenu-main .ubermenu-target,
.ubermenu-main .ubermenu-nav .ubermenu-item-level-0 .ubermenu-target,
.ubermenu-main div,
.ubermenu-main p,
.ubermenu-main input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.ubermenu .ubermenu-item.ubermenu-item-28>.ubermenu-target,
.ubermenu .ubermenu-item.ubermenu-item-28>.ubermenu-content-block,
.ubermenu .ubermenu-item.ubermenu-item-28.ubermenu-custom-content-padded {
    padding: 5px 5px 0px 5px;
}

.ubermenu .ubermenu-submenu.ubermenu-submenu-id-23 {
    width: 180px;
    min-width: 180px;
    background-color: #ffffff;
}

.ubermenu .ubermenu-item.ubermenu-item-23>.ubermenu-target {
    color: #838586;
}

.ubermenu .ubermenu-submenu.ubermenu-submenu-id-23 .ubermenu-target,
.ubermenu .ubermenu-submenu.ubermenu-submenu-id-23 .ubermenu-target>.ubermenu-target-description {
    color: #838586;
}

.ubermenu .ubermenu-item.ubermenu-item-27>.ubermenu-target,
.ubermenu .ubermenu-item.ubermenu-item-27>.ubermenu-content-block,
.ubermenu .ubermenu-item.ubermenu-item-27.ubermenu-custom-content-padded {
    padding: 5px 5px 0px 5px;
}

.ubermenu .ubermenu-item.ubermenu-item-26>.ubermenu-target,
.ubermenu .ubermenu-item.ubermenu-item-26>.ubermenu-content-block,
.ubermenu .ubermenu-item.ubermenu-item-26.ubermenu-custom-content-padded {
    padding: 5px 5px 0px 5px;
}

.post-content p {
    margin-bottom: 0;
}

.fusion-button.button-4 {
    border-radius: 200px !important;
}

.logostudio-blog-image img {
    height: auto;
}

body,
html,
html body.custom-background {
    background-color: #ffffff;
}

#main,
.fusion-footer-copyright-area,
.fusion-footer-widget-area,
.fusion-page-title-bar,
.fusion-secondary-header,
.fusion-sliding-bar-position-bottom .fusion-sliding-bar,
.fusion-sliding-bar-position-top .fusion-sliding-bar,
.header-v4 #small-nav,
.header-v5 #small-nav,
.sticky-header .sticky-shadow,
.tfs-slider .slide-content-container {
    padding-left: 30px;
    padding-right: 30px;
}

.width-100 .fusion-fullwidth {
    margin-left: -40px;
    margin-right: -40px;
}

a:hover {
    color: #9b4b9d;
}

#fusion-gmap-container,
#main,
#sliders-container,
#wrapper,
.fusion-separator .icon-wrapper,
body,
html {
    background-color: #ffffff;
}

.fusion-footer-widget-area {
    background-color: #f5f5f5;
    border-color: #e9eaee;
    border-top-width: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
}

.fusion-footer-copyright-area {
    background-color: #9a499c;
    border-color: #4b4c4d;
    border-top-width: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.fusion-copyright-notice {
    color: #ffffff;
    font-size: 12px;
}

.fusion-footer footer .fusion-columns {
    margin: 0 -15px;
}

.fusion-footer footer .fusion-columns .fusion-column {
    padding-right: 15px;
    padding-left: 15px;
}

#slidingbar-area .widget-title,
#slidingbar-area h3,
.fusion-footer-widget-area .widget-title,
.fusion-footer-widget-area h3,
.fusion-privacy-bar-full .column-title {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
}

.fusion-footer-copyright-area>.fusion-row,
.fusion-footer-widget-area>.fusion-row {
    padding-left: 5%;
    padding-right: 0%;
}

.layout-wide-mode .fusion-footer-copyright-area>.fusion-row,
.layout-wide-mode .fusion-footer-widget-area>.fusion-row {
    max-width: 100% !important;
}

#nav ul li ul li a,
#reviews #comments>h2,
#sticky-nav ul li ul li a,
#wrapper #nav ul li ul li>a,
#wrapper #sticky-nav ul li ul li>a,
.avada-container h3,
.comment-form input[type="submit"],
.ei-title h3,
.fusion-blog-shortcode .fusion-timeline-date,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .price,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content a,
.fusion-load-more-button,
.fusion-main-menu .sub-menu,
.fusion-main-menu .sub-menu li a,
.fusion-megamenu-widgets-container,
.fusion-megamenu-wrapper .fusion-megamenu-submenu>a:hover,
.fusion-megamenu-wrapper li .fusion-megamenu-title-disabled,
.fusion-page-title-bar h3,
.gform_page_footer input[type=button],
.meta .fusion-date,
.more,
.post-content blockquote,
.review blockquote div strong,
.review blockquote q,
.ticket-selector-submit-btn[type=submit],
.wpcf7-form input[type="submit"],
body {
    font-family: 'Roboto';
    font-weight: 300;
    letter-spacing: 0px;
    font-style: normal;
}

#nav ul li ul li a,
#reviews #comments>h2,
#side-header .fusion-contact-info,
#side-header .header-social .top-menu,
#sticky-nav ul li ul li a,
#wrapper #nav ul li ul li>a,
#wrapper #sticky-nav ul li ul li>a,
.avada-container h3,
.comment-form input[type="submit"],
.ei-title h3,
.fusion-accordian .panel-body,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .price,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content a,
.fusion-main-menu .sub-menu,
.fusion-main-menu .sub-menu li a,
.fusion-megamenu-widgets-container,
.fusion-megamenu-wrapper .fusion-megamenu-submenu>a:hover,
.fusion-megamenu-wrapper li .fusion-megamenu-title-disabled,
.fusion-page-title-bar h3,
.gform_page_footer input[type=button],
.meta .fusion-date,
.more,
.post-content blockquote,
.review blockquote div strong,
.review blockquote q,
.ticket-selector-submit-btn[type=submit],
body {
    line-height: 1.5;
}

#slidingbar-area .slide-excerpt h2,
#slidingbar-area ul,
.counter-box-content,
.fusion-alert,
.fusion-blog-layout-timeline .fusion-timeline-date,
.fusion-footer-widget-area .slide-excerpt h2,
.fusion-footer-widget-area ul,
.fusion-progressbar .progress-title,
.gform_wrapper .gfield_description,
.gform_wrapper label,
.jtwt .jtwt_tweet,
.post-content blockquote,
.project-content .project-info h4,
.review blockquote q,
.sidebar .jtwt .jtwt_tweet,
.sidebar .slide-excerpt h2,
body {
    font-size: 18px;
}

#reviews #comments>h2,
#wrapper .meta,
.fusion-blog-timeline-layout .fusion-timeline-date,
.fusion-main-menu .fusion-custom-menu-item-contents,
.fusion-rollover .price .amount,
.post .post-content,
.post-content blockquote,
.project-content .project-info h4,
.review blockquote div,
.search input,
.sidebar .jtwt,
.sidebar .widget .recentcomments,
.sidebar .widget_archive li,
.sidebar .widget_categories li,
.sidebar .widget_layered_nav li,
.sidebar .widget_links li,
.sidebar .widget_meta li,
.sidebar .widget_nav_menu li,
.sidebar .widget_pages li,
.sidebar .widget_product_categories li,
.sidebar .widget_recent_entries li,
.title-row,
body {
    color: #464646;
}

#main .fusion-row,
#slidingbar-area .fusion-row,
.fusion-footer-copyright-area .fusion-row,
.fusion-footer-widget-area .fusion-row,
.fusion-page-title-row,
.tfs-slider .slide-content-container .slide-content {
    max-width: 1100px;
}

#main .post h2 a,
.about-author .title a,
.fusion-content-widget-area .widget .recentcomments a,
.fusion-content-widget-area .widget li a,
.fusion-content-widget-area .widget_categories li,
.fusion-hide-pagination-text .pagination-next:after,
.fusion-hide-pagination-text .pagination-prev:before,
.fusion-load-more-button,
.fusion-rollover a,
.pagination .pagination-next:after,
.pagination .pagination-prev:before,
.project-content .project-info .project-info-box a,
.shop_attributes tr th,
.single-navigation a[rel="next"]:after,
.single-navigation a[rel="prev"]:before,
body a,
body a:after,
body a:before {
    color: #9a499c;
}

.fusion-footer-widget-area .widget-title,
.fusion-footer-widget-area h3,
.fusion-footer-widget-column .product-title {
    color: #9a499c;
}

.fusion-footer-widget-area,
.fusion-footer-widget-area .jtwt,
.fusion-footer-widget-area .jtwt .jtwt_tweet,
.fusion-footer-widget-area .widget li.recentcomments,
.fusion-footer-widget-area .widget_archive li,
.fusion-footer-widget-area .widget_categories li,
.fusion-footer-widget-area .widget_layered_nav li,
.fusion-footer-widget-area .widget_links li,
.fusion-footer-widget-area .widget_meta li,
.fusion-footer-widget-area .widget_nav_menu li,
.fusion-footer-widget-area .widget_pages li,
.fusion-footer-widget-area .widget_product_categories li,
.fusion-footer-widget-area .widget_recent_entries li,
.fusion-footer-widget-area article.col {
    color: #9a499c;
}

.fusion-footer-widget-area .fusion-accordian .panel-title a,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li a,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-date-box,
.fusion-footer-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .post-holder a,
.fusion-footer-widget-area .jtwt .jtwt_tweet a,
.fusion-footer-widget-area .widget li a:before,
.fusion-footer-widget-area a {
    color: #9a499c;
}

#comment-input input,
#comment-textarea textarea,
.avada-select .select2-container .select2-choice,
.avada-select .select2-container .select2-choice2,
.avada-select-parent select,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.comment-form-comment textarea,
.input-text,
.main-nav-search-form input,
.post-password-form label input[type="password"],
.search-page-search-form input,
.searchform .fusion-search-form-content .fusion-search-field input,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text,
.wpcf7-form textarea,
input.s,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
    background-color: #ffffff;
}

#calc_shipping_state_field .select2-selection__placeholder,
#comment-input .placeholder,
#comment-input input,
#comment-textarea .placeholder,
#comment-textarea textarea,
.avada-select .select2-container .select2-choice,
.avada-select .select2-container .select2-choice2,
.avada-select-parent select,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.comment-form-comment textarea,
.fusion-search-form-clean .searchform .fusion-search-form-content .fusion-search-button input[type="submit"],
.input-text,
.main-nav-search-form input,
.post-password-form label input[type="password"],
.search-page-search-form input,
.searchform .fusion-search-form-content .fusion-search-field input,
.select2-container--default .select2-selection--single .select2-selection__rendered,
.select2-results__option,
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text,
.wpcf7-form textarea,
.wpcf7-select-parent .select-arrow,
input.s,
input.s .placeholder,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
    color: #aaa9a9;
    font-size: 13px;
}

#comment-input input::-webkit-input-placeholder,
#comment-textarea textarea::-webkit-input-placeholder,
.comment-form-comment textarea::-webkit-input-placeholder,
.input-text::-webkit-input-placeholder,
.post-password-form label input[type="password"]::-webkit-input-placeholder,
.searchform .s::-webkit-input-placeholder,
.wpcf7-form textarea::-webkit-input-placeholder,
input#s::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #aaa9a9;
}

#comment-input input,
#comment-textarea textarea,
.avada-select .select2-container .select2-choice,
.avada-select .select2-container .select2-choice .select2-arrow,
.avada-select .select2-container .select2-choice2 .select2-arrow,
.avada-select-parent .select-arrow,
.avada-select-parent select,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.comment-form-comment textarea,
.gravity-select-parent .select-arrow,
.input-text,
.main-nav-search-form input,
.post-password-form label input[type="password"],
.search-page-search-form input,
.searchform .fusion-search-form-content .fusion-search-field input,
.select-arrow,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text,
.wpcf7-form textarea,
.wpcf7-select-parent .select-arrow,
input.s,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
    border-color: #d2d2d2;
}

#comment-input input,
#comment-textarea textarea,
.avada-select .select2-container .select2-choice,
.avada-select .select2-container .select2-choice .select2-arrow,
.avada-select .select2-container .select2-choice2 .select2-arrow,
.avada-select-parent .select-arrow,
.avada-select-parent select,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.comment-form-comment textarea,
.fusion-search-form-classic .searchform .fusion-search-form-content,
.gravity-select-parent .select-arrow,
.input-text,
.main-nav-search-form input,
.post-password-form label input[type="password"],
.search-page-search-form input,
.searchform .fusion-search-form-content .fusion-search-field input,
.select-arrow,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text,
.wpcf7-form textarea,
.wpcf7-select-parent .select-arrow,
input.s,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
    border-radius: 0px;
    -webkit-border-radius: 0px;
}

#comment-input input,
#comment-textarea textarea,
.avada-select .select2-container .select2-choice,
.avada-select .select2-container .select2-choice .select2-arrow,
.avada-select .select2-container .select2-choice2 .select2-arrow,
.avada-select-parent .select-arrow,
.avada-select-parent select,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.comment-form-comment textarea,
.fusion-search-form-classic .searchform .fusion-search-form-content,
.gravity-select-parent .select-arrow,
.input-text,
.main-nav-search-form input,
.post-password-form label input[type="password"],
.search-page-search-form input,
.searchform .fusion-search-form-content .fusion-search-field input,
.select-arrow,
.select2-container .select2-selection .select2-selection__arrow,
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-container--default .select2-selection--single,
.select2-dropdown,
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text,
.wpcf7-form textarea,
.wpcf7-select-parent .select-arrow,
input.s,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="text"],
select,
textarea {
    border-width: 1px;
}

#comment-input input,
.avada-select .select2-container .select2-choice,
.avada-select-parent select,
.chzn-container .chzn-drop,
.chzn-container-single .chzn-single,
.fusion-login-box .fusion-login-form input[type=password],
.fusion-login-box .fusion-login-form input[type=text],
.input-text:not(textarea),
.main-nav-search-form input,
.post-password-form label input[type="password"],
.search-page-search-form input,
.searchform .fusion-search-form-content .fusion-search-field input,
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow,
.wpcf7-captchar,
.wpcf7-form .wpcf7-date,
.wpcf7-form .wpcf7-number,
.wpcf7-form .wpcf7-quiz,
.wpcf7-form .wpcf7-select,
.wpcf7-form .wpcf7-text,
input.s,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select {
    height: 29px;
    padding-top: 0;
    padding-bottom: 0;
}

.fusion-modal h1,
.fusion-page-title-bar h1,
.fusion-title h1,
.fusion-widget-area h1,
.post-content h1 {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
}

.fusion-modal h1,
.fusion-widget-area h1,
.post-content h1 {
    font-size: 46px;
}

.fusion-modal h1,
.fusion-post-content h1,
.fusion-widget-area h1,
.post-content h1,
.title h1 {
    color: #9a499c;
}

#main .post h2,
#main .reading-box h2,
#main h2,
.ei-title h2,
.fusion-modal h2,
.fusion-title h2,
.fusion-widget-area h2,
.main-flex .slide-content h2,
.post-content h2,
.title h2 {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
}

#main .fusion-portfolio h2,
#main .post h2,
#wrapper #main .post h2,
#wrapper #main .post-content .fusion-title h2,
#wrapper #main .post-content .title h2,
#wrapper .fusion-title h2,
#wrapper .post-content h2,
#wrapper .title h2,
.fusion-modal h2,
.fusion-widget-area h2,
h2.entry-title {
    font-size: 18px;
}

#main .post h2,
.fusion-modal h2,
.fusion-post-content h2,
.fusion-title h2,
.fusion-widget-area h2,
.post-content h2,
.search-page-search-form h2,
.title h2 {
    color: #333333;
}

#tribe-events-content .tribe-events-tooltip .entry-title,
#tribe-events-content .tribe-events-tooltip .tribe-event-title,
.fusion-accordian .panel-heading a,
.fusion-accordian .panel-title,
.fusion-carousel-title,
.fusion-flip-boxes .fusion-flip-box .flip-box-heading-back,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title,
.fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title a,
.fusion-megamenu-title,
.fusion-modal h4,
.fusion-person .person-desc .person-author .person-author-wrapper,
.fusion-tabs .nav-tabs li .fusion-tab-heading,
.fusion-tabs-widget .fusion-tabs-nav ul li a,
.fusion-title h4,
.fusion-widget-area h4,
.popover .popover-title,
.post-content h4,
.project-content .project-info h4,
.share-box h4,
table th {
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
}

#reviews #comments>h2,
#tribe-events-content .tribe-events-tooltip .entry-title,
#tribe-events-content .tribe-events-tooltip .tribe-event-title,
.fusion-accordian .panel-title,
.fusion-carousel-title,
.fusion-flip-boxes .fusion-flip-box .flip-box-heading-back,
.fusion-modal h4,
.fusion-person .person-author-wrapper .person-name,
.fusion-person .person-author-wrapper .person-title,
.fusion-rollover .fusion-rollover-content .fusion-rollover-title,
.fusion-sharing-box h4,
.fusion-tabs .nav-tabs>li .fusion-tab-heading,
.fusion-tabs-widget .fusion-tabs-nav ul li a,
.fusion-widget-area h4,
.person-author-wrapper,
.popover .popover-title,
.post-content h4 {
    font-size: 25px;
}

.fusion-accordian .panel-title a,
.fusion-carousel-title,
.fusion-content-widget-area .fusion-tabs-widget .fusion-tabs-nav ul li a,
.fusion-content-widget-area .fusion-tabs-widget .fusion-tabs-widget-content .fusion-date-box,
.fusion-modal h4,
.fusion-post-content h4,
.fusion-tabs .nav-tabs>li .fusion-tab-heading,
.fusion-title h4,
.fusion-widget-area h4,
.post-content h4,
.project-content .project-info h4,
.share-box h4,
.title h4 {
    color: #9a499c;
}

.fusion-title-size-one,
h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.fusion-title-size-two,
h2 {
    margin-top: 0em;
    margin-bottom: 1.1em;
}

.fusion-title-size-four,
h4 {
    margin-top: 0px;
    margin-bottom: 20px;
}

#side-header .fusion-logo,
.fusion-header .fusion-logo {
    margin-top: 16px;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
}

.fusion-header-wrapper .fusion-row {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1100px;
}

.fusion-header .fusion-row {
    padding-top: 0px;
    padding-bottom: 0px;
}

body,
html {
    background-color: #ffffff;
}

.fusion-header {
    background-color: rgba(255, 255, 255, 1);
}

#main {
    padding-top: 0px;
    padding-bottom: 0px;
}

.width-100 .nonhundred-percent-fullwidth {
    margin-left: -40px;
    margin-right: -40px;
}

.layout-wide-mode .fusion-header-wrapper .fusion-row {
    max-width: 100%;
}

#main #comment-submit,
#main .comment-submit,
#reviews input#submit,
.button-default,
.button.default,
.comment-form input[type="submit"],
.fusion-button-default,
.fusion-portfolio-one .fusion-button,
.post-password-form input[type="submit"],
.slidingbar-area .button-default,
.ticket-selector-submit-btn[type=submit],
.tml-submit-wrap input[type="submit"],
.wpcf7-form input[type="submit"],
.wpcf7-submit,
input.button-default {
    background: #ffc000;
    text-transform: uppercase;
    color: #ffffff;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc000, endColorstr=#ffc000);
    transition: all .2s;
    border-width: 0px;
    border-style: solid;
    border-color: #ffffff;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    -webkit-border-radius: 2px;
}

#main #comment-submit,
#main .comment-submit,
#reviews input#submit,
.button-default,
.button.default,
.comment-form input[type="submit"],
.fusion-button,
.fusion-button-default,
.fusion-portfolio-one .fusion-button,
.post-password-form input[type="submit"],
.slidingbar-area .button-default,
.ticket-selector-submit-btn[type=submit],
.tml-submit-wrap input[type="submit"],
.wpcf7-form input[type="submit"],
.wpcf7-submit,
input.button-default {
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0px;
}

#main #comment-submit:visited,
#main .comment-submit:visited,
#reviews input#submit:visited,
.button-default:visited,
.button.default:visited,
.comment-form input[type="submit"]:visited,
.fusion-button-default:visited,
.fusion-portfolio-one .fusion-button:visited,
.post-password-form input[type="submit"]:visited,
.slidingbar-area .button-default:visited,
.ticket-selector-submit-btn[type=submit]:visited,
.tml-submit-wrap input[type="submit"]:visited,
.wpcf7-form input[type="submit"]:visited,
.wpcf7-submit:visited,
input.button-default:visited {
    color: #ffffff;
}

.fusion-builder-row.fusion-row {
    max-width: 1100px;
}

#reviews li .comment-text,
#small-nav,
#wrapper .side-nav li a,
#wrapper .side-nav li.current_page_item li a,
.avada-skin-rev,
.chzn-container-single .chzn-single,
.chzn-container-single .chzn-single div,
.chzn-drop,
.commentlist .the-comment,
.es-carousel-wrapper.fusion-carousel-small .es-carousel ul li img,
.fusion-author .fusion-author-social,
.fusion-author-widget .fusion-author-widget-separator .fusion-author-widget-sep,
.fusion-content-widget-area .widget .recentcomments,
.fusion-content-widget-area .widget li a,
.fusion-content-widget-area .widget li a:before,
.fusion-content-widget-area .widget_archive li,
.fusion-content-widget-area .widget_categories li,
.fusion-content-widget-area .widget_links li,
.fusion-content-widget-area .widget_meta li,
.fusion-content-widget-area .widget_nav_menu li,
.fusion-content-widget-area .widget_pages li,
.fusion-content-widget-area .widget_recent_entries li,
.fusion-counters-box .fusion-counter-box .counter-box-border,
.fusion-filters,
.fusion-hide-pagination-text .pagination-next,
.fusion-hide-pagination-text .pagination-prev,
.fusion-tabs.vertical-tabs.clean .nav-tabs li .tab-link,
.input-radio,
.ls-avada,
.page-links a,
.pagination a.inactive,
.panel.entry-content,
.post .fusion-meta-info,
.price_slider_wrapper,
.progress-bar,
.project-content .project-info .project-info-box,
.search-page-search-form,
.side-nav,
.side-nav li a,
.single-navigation,
.table,
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th,
.table-1 table,
.table-1 table th,
.table-1 tr td,
.table-2 table thead,
.table-2 tr td,
.tabs-vertical .tabs-container .tab_content,
.tabs-vertical .tabset,
.tagcloud a,
.tkt-slctr-tbl-wrap-dv table,
.tkt-slctr-tbl-wrap-dv tr td,
h5.toggle.active+.toggle-content,
tr td {
    border-color: #e0dede;
}

@media screen and (min-width: 1025px) {
    .fusion-no-large-visibility {
        display: none !important;
    }
}

table.footermobile {
    display: none;
}

.fusion-text.jointhetteam {
    text-align: right;
}

a.fusion-button.readmore {
    width: 310px !important;
    font-size: 25px;
    padding: 20px;
}

a.fusion-button.readmore2 {
    width: 425px !important;
    font-size: 35px;
    padding: 20px;
    line-height: 0.8em;
    margin-top: 5px;
}

.tnp-widget-minimal input.tnp-email {
    width: 265px;
    border: 1px solid;
    border-color: #484848;
    background-color: #f4f4f4;
    color: #484848 !important;
    font-size: 18px;
    border-radius: 50px;
    padding: 15px;
    height: 39px;
    outline: 0;
}

.tnp-widget-minimal input.tnp-submit {
    width: 128px;
    background-color: #ffc000;
    font-size: 18px;
    border-radius: 50px;
    padding: 5px;
    height: 39px;
    cursor: pointer;
    z-index: 89999999999;
    position: relative;
    border: none;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}

.fusion-button.button-1 {
    border-radius: 50px !important;
}

.fusion-button.button-3 {
    border-radius: 50px !important;
}

.logostudio-blog-title>a {
    font-weight: 100;
    font-size: 29px;
}

h4.widget-title {
    text-align: left !important;
    margin-bottom: 15px !important;
}

.widget a {
    color: #9a499c !important;
}

.ubermenu .ubermenu-submenu.ubermenu-submenu-id-23 .ubermenu-target,
.ubermenu .ubermenu-submenu.ubermenu-submenu-id-23 .ubermenu-target>.ubermenu-target-description {
    padding: 10px 0;
}

.logostudio-blog-image {
    max-height: 250px;
}

#toTop {
    bottom: 0px;
    border-radius: 4px;
    height: 40px;
    right: 0px;
}

.fusion-button.button-1 .fusion-button-text,
.fusion-button.button-1 i {
    color: #ffffff;
}

.fusion-button.button-1 {
    border-width: 0px;
    border-color: #ffffff;
}

.fusion-button.button-1 {
    background: #ffc000;
}

.fusion-button.button-1 {
    width: auto;
}

.fusion-button.button-3 .fusion-button-text,
.fusion-button.button-3 i {
    color: #ffffff;
}

.fusion-button.button-3 {
    border-width: 0px;
    border-color: #ffffff;
}

.fusion-button.button-3 {
    background: #ffc000;
}

.fusion-button.button-3 {
    width: auto;
}

.fusion-button.button-4 .fusion-button-text,
.fusion-button.button-4 i {
    color: #ffffff;
}

.fusion-button.button-4 {
    border-width: 0px;
    border-color: #ffffff;
}

.fusion-button.button-4 {
    width: auto;
}

.fa,
.fab,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1
}

.fa-bars:before,
.fa-navicon:before,
.fa-reorder:before {
    content: "\f0c9"
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900
}

.rs-p-wp-fix {
    display: none !important;
    margin: 0 !important;
    height: 0px !important;
}

rs-module-wrap,
rs-module-wrap * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

rs-module-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
}

rs-module {
    position: relative;
    overflow: hidden;
    display: block;
}

rs-layer-wrap,
rs-mask,
rs-module-wrap,
rs-module .rs-layer,
rs-module img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.ubermenu,
.ubermenu .ubermenu-column,
.ubermenu .ubermenu-divider,
.ubermenu .ubermenu-icon,
.ubermenu .ubermenu-image,
.ubermenu .ubermenu-item,
.ubermenu .ubermenu-nav,
.ubermenu .ubermenu-retractor,
.ubermenu .ubermenu-row,
.ubermenu .ubermenu-search,
.ubermenu .ubermenu-search-input,
.ubermenu .ubermenu-search-submit,
.ubermenu .ubermenu-submenu,
.ubermenu .ubermenu-submenu-footer,
.ubermenu .ubermenu-tabs,
.ubermenu .ubermenu-tabs-panels,
.ubermenu .ubermenu-target,
.ubermenu-responsive-toggle {
    margin: 0;
    padding: 0;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    text-indent: 0;
    clip: auto;
    position: static;
    background: 0 0;
    text-transform: none;
    overflow: visible;
    z-index: 10;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    line-height: 1.3em;
    border: none;
    border-radius: 0;
    pointer-events: auto
}

.ubermenu,
.ubermenu .ubermenu-column,
.ubermenu .ubermenu-divider,
.ubermenu .ubermenu-item,
.ubermenu .ubermenu-nav,
.ubermenu .ubermenu-retractor,
.ubermenu .ubermenu-row,
.ubermenu .ubermenu-search,
.ubermenu .ubermenu-search-input,
.ubermenu .ubermenu-search-submit,
.ubermenu .ubermenu-submenu,
.ubermenu .ubermenu-submenu-footer,
.ubermenu .ubermenu-tabs,
.ubermenu .ubermenu-tabs-panels,
.ubermenu .ubermenu-target,
.ubermenu-responsive-toggle {
    height: auto;
    width: auto;
    max-height: none;
    min-height: 0;
}

.ubermenu .ubermenu-image,
.ubermenu .ubermenu-submenu-drop {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

.ubermenu {
    display: block;
    line-height: 1.3em;
    text-align: left
}

.ubermenu-bound,
.ubermenu-bound-inner .ubermenu-nav {
    position: relative
}

.ubermenu,
.ubermenu-nav {
    overflow: visible !important;
    z-index: 100
}

.ubermenu-nav {
    text-align: inherit
}

.ubermenu-nav,
.ubermenu-row,
.ubermenu-submenu {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none
}

.ubermenu a.ubermenu-target,
.ubermenu-trigger-click .ubermenu-has-submenu-drop>.ubermenu-target {
    cursor: pointer
}

.ubermenu-responsive-toggle,
.ubermenu-sticky-toggle-wrapper {
    display: none;
    text-decoration: none;
    cursor: pointer;
    max-width: 100%
}

.ubermenu-responsive-toggle .fa {
    width: 1.3em;
    text-align: center;
    margin-right: .6em
}

.ubermenu-responsive-toggle-icon-only .fa {
    margin-right: 0
}

.ubermenu-responsive-toggle-align-right {
    float: right
}

.ubermenu-responsive-toggle-content-align-left {
    text-align: left
}

.ubermenu-bar-align-full {
    clear: both
}

.ubermenu .ubermenu-item {
    text-align: left;
    display: inline-block;
    vertical-align: top
}

.ubermenu .ubermenu-item-level-0 {
    vertical-align: bottom;
    -moz-backface-visibility: visible;
    backface-visibility: visible
}

.ubermenu .ubermenu-item.ubermenu-item-level-0 {
    float: none
}

.ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0,
.ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-left {
    float: left
}

body:not(.rtl) .ubermenu.ubermenu-horizontal .ubermenu-item-level-0:first-child>.ubermenu-target {
    border-left: none
}

.ubermenu .ubermenu-colgroup .ubermenu-column,
.ubermenu .ubermenu-custom-content-padded,
.ubermenu .ubermenu-nonlink,
.ubermenu .ubermenu-retractor,
.ubermenu .ubermenu-submenu-padded,
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target,
.ubermenu .ubermenu-target,
.ubermenu .ubermenu-widget,
.ubermenu-responsive-toggle {
    padding: 15px 20px
}

.ubermenu .ubermenu-target {
    display: block;
    text-decoration: none;
    position: relative
}

.ubermenu .ubermenu-target-with-image {
    overflow: hidden
}

.ubermenu .ubermenu-submenu .ubermenu-target {
    backface-visibility: hidden
}

.ubermenu .ubermenu-target-text {
    display: inline-block;
    vertical-align: middle;
    font-family: inherit;
    font-weight: inherit;
    color: inherit
}

.ubermenu .ubermenu-item.ubermenu-disable-padding>.ubermenu-target {
    padding: 0
}

.ubermenu .ubermenu-image {
    display: block;
    max-width: 100%;
    transition: opacity 1s ease;
    opacity: 1
}

.ubermenu .ubermenu-image:not(.ubermenu-image-lazyload) {
    height: auto
}

.ubermenu .ubermenu-item-layout-image_above>.ubermenu-image {
    margin-bottom: 10px
}

.ubermenu .ubermenu-content-align-center {
    text-align: center
}

.ubermenu .ubermenu-column,
.ubermenu .ubermenu-row {
    max-width: 100%
}

.ubermenu .ubermenu-item .ubermenu-submenu-drop {
    position: absolute;
    z-index: 500;
    top: -10000px;
    height: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden
}

.ubermenu .ubermenu-item:not(.ubermenu-active) .ubermenu-submenu-drop {
    min-height: 0 !important
}

.ubermenu .ubermenu-item .ubermenu-submenu-drop {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15)
}

.ubermenu .ubermenu-item-level-0>.ubermenu-submenu-drop {
    clip: rect(0, 5000px, 5000px, -5000px)
}

.ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-left_edge_item {
    left: auto
}

.ubermenu .ubermenu-item .ubermenu-submenu-drop {
    -webkit-transition-duration: .3s;
    -ms-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-in;
    -ms-transition-timing-function: ease-in;
    transition-timing-function: ease-in
}

.ubermenu-transition-shift .ubermenu-item .ubermenu-submenu-drop {
    margin-top: 20px;
    top: auto;
    opacity: 0;
    -webkit-transition-property: margin-top, opacity, visibility;
    -ms-transition-property: margin-top, opacity, visibility;
    transition-property: margin-top, opacity, visibility
}

.ubermenu .ubermenu-submenu-type-flyout>.ubermenu-item {
    display: block;
    float: none;
    position: relative;
    min-width: 150px;
    clear: both
}

.ubermenu:not(.ubermenu-transition-slide) .ubermenu-submenu.ubermenu-submenu-type-flyout {
    max-height: 99999px
}

.uber-clear:after,
.ubermenu .ubermenu-column:after,
.ubermenu .ubermenu-content-block:after,
.ubermenu .ubermenu-image:after,
.ubermenu .ubermenu-postlist-item:after,
.ubermenu .ubermenu-submenu:after,
.ubermenu .ubermenu-tabs:after,
.ubermenu:after {
    content: "";
    display: table;
    clear: both
}

.ubermenu {
    background: 0 0
}

.ubermenu-submenu-drop {
    background: #fff
}

@media screen and (min-width: 960px) {
    .ubermenu-responsive-default.ubermenu {
        display: block !important
    }
}

.do-animate .fusion-animated {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.do-animate .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

.do-animate .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

.do-animate .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}

.do-animate .slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

#menu-item-22>a>span>span {
    background: #fec000;
    color: #67009c;
    font-size: 13px;
    display: inline-block;
    width: 23px;
    height: 23px;
    text-align: center;
    border-radius: 12px;
    position: relative;
    bottom: 8px;
    line-height: 1.8;
    left: 5px;
}

.logostudio-blogs {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.logostudio-blogs>li {
    list-style: none;
    background: #f5f5f5;
    display: inline-block;
    vertical-align: top;
    width: 31.333%;
    margin-right: 3%;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 55px;
    position: relative;
}

.logostudio-blogs>li:nth-child(3n) {
    margin-right: 0;
}

.logostudio-blog-image img {
    transition: .35s ease;
}

.logostudio-blog-image {
    overflow: hidden;
}

.logostudio-blog-excerpt a {
    font-weight: normal;
}

.logostudio-blog-image {
    position: relative;
}

.logostudio-blog-image img {
    width: 100%;
    height: 250px;
}

.logostudio-blog-image>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(154, 73, 156, 0.6);
    text-align: center;
    font-size: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
}

.logostudio-blog-image>a:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.logostudio-blog-image>a>h4 {
    position: relative;
    color: #fff;
    padding: 35px 20px 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
}

.logostudio-blog-image>a>h4:before {
    display: block;
    content: '\e619';
    font-family: icomoon;
    position: absolute;
    width: 27px;
    height: 27px;
    top: 0;
    text-align: center;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    color: #fff;
}

.logostudio-blog-title {
    max-height: 62px;
    margin: 30px 0;
    overflow: hidden;
}

.logostudio-blog-title>a {
    font-size: 33px;
    text-transform: uppercase;
    line-height: 27px;
}

.logostudio-blog-meta {
    margin: 0 0 30px;
    padding: 0;
    font-size: 0;
}

.logostudio-blog-meta>li {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
}

.logostudio-like-button {
    color: #8b8b8b;
    position: relative;
    padding-left: 25px;
}

.logostudio-like-button:before {
    display: block;
    content: '';
    background: #a4a4a4;
    width: 16px;
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 6px;
    left: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.logostudio-like-button:after {
    display: block;
    content: '';
    background: #a4a4a4;
    width: 16px;
    height: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    top: 6px;
    left: 5px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.logostudio-blog-excerpt {
    margin-bottom: 20px;
    text-align: left !important;
}

.logostudio-blogs>li>.logostudio-like-button {
    float: left;
}

.logostudio-blog-date {
    float: right;
}

.widget-title {
    margin-bottom: 0;
}

.widget a {
    color: #727272 !important;
}

h4.widget-title {
    font-weight: 100 !important;
    text-transform: capitalize;
}

body h2.logostudio-blog-title,
body ul.logostudio-blog-meta {
    margin-bottom: 15px !important;
}

body h2.logostudio-blog-title,
body div.logostudio-blog-excerpt {
    clear: both;
    min-height: 0 !important;
    max-height: 100% !important;
}

.fusion-ubermenu {
    max-width: -webkit-calc(100% - 140px);
    max-width: -moz-calc(100% - 140px);
    max-width: calc(100% - 140px);
    width: 100%;
}

.ubermenu {
    width: 100% !important;
}

@media all and (min-width: 960px) {
    .fusion-header>.fusion-row {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .ubermenu {
        margin-top: 0 !important;
    }

    .ubermenu .ubermenu-item.ubermenu-item-level-0 {
        text-align: center;
    }

    .ubermenu>ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    body #menu-item-22>a>span>span {
        top: 0px;
        left: auto;
        right: -5px;
        bottom: auto;
        position: absolute;
    }
}

#wrapper #main #content h2.title-heading-center {
    font-size: 46px;
    color: #9a499c;
    font-weight: 300;
}

.fusion-layout-column .fusion_builder_column .fusion_builder_column_1_1 .fusion-one-full .fusion-column-first .fusion-column-last .fusion-no-small-visibility .fusion-animated_1_1 {
    margin-top: 0px;
    margin-bottom: 20px;
    visibility: visible;
    animation-duration: 1s;
}

.fusion-text.jointhetteam {
    white-space: nowrap;
    margin-left: -149px;

}

.fusion-builder-row.fusion-row {
    display: contents;
}

.ubermenu-target.ubermenu-target-with-image.ubermenu-item-layout-default.ubermenu-item-layout-image_above.ubermenu-item-notext {
    padding: 5px 5px 0px 5px
}